const faker = require('faker');
const { {{Temp}} } = require('../../../src/models');

describe('{{Temp}} model', () => {
  describe('{{Temp}} validation', () => {
    let new{{Temp}};

    beforeEach(() => {
      new{{Temp}} = {{DATA}};
    });

    test('should correctly validate a valid {{temp}}', async () => {
      await expect(new {{Temp}}(new{{Temp}}).validate()).resolves.toBeUndefined();
    });
  });
});
